<main>
   <section class="content">
      <mat-toolbar color="primary">Photo Album Viewer</mat-toolbar>

      <div class="toolbar">
         <!-- Combobox with all albums -->
         <mat-form-field class="album-select-field">
            <mat-label>Album</mat-label>
            <mat-select [(ngModel)]="selectedAlbum" (selectionChange)="onAlbumChange($event)">
               <mat-option *ngFor="let album of albums" [value]="album.id">
               {{album.title}}
               </mat-option>
            </mat-select>
         </mat-form-field>
      </div>

      <!-- List of all images in the selected album -->
      <ng-container *ngIf="selectedAlbum >= 0">
         <div class="album-container responsive-grid">
            <ng-container *ngFor="let photo of photos">
               <app-photo [photo]="photo"></app-photo>
            </ng-container>
         </div>
      </ng-container>

      <!-- Show help text if we don't have a selected item.-->
      <ng-container *ngIf="selectedAlbum < 0">
         <h1 class="help-text">Select an album to view photos.</h1>
      </ng-container>
   </section>
</main>
